apiVersion: apps/v1
kind: Deployment
metadata:
  name: ged-admin-nginx
spec:
  selector:
    matchLabels:
      app: ged-admin-nginx
  template:
    metadata:
      labels:
        app: ged-admin-nginx
    spec:
      containers:
        - name: ged-admin-nginx
          image: devoptimus/ged-admin-nginx:latest
          imagePullPolicy: Always
          resources:
            limits:
              memory: "128Mi"
              cpu: "50m"
          ports:
            - containerPort: 80
          env:
            - name: FPM_HOST
              value: "ged-admin-fpm:9000"
