apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: ip-addr-pool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.59.120-192.168.59.150 # FROM docker network inspect -f '{{.IPAM.Config}}' kind
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: empty
  namespace: metallb-system
